html {
	height: 100%
}

body {
	height: 100%;
}

.left {
	background-color: blue;
	height: 100%;
	width: 33.34%;
	float: left;
}

.center {
	background-color: aqua;
	height: 100%;
	width: 33.33%;
	float: left;
}

.right {
	background-color: green;
	height: 100%;
	width: 33.33%;
	float:right;
}

.bottom-right {
	background-color: red;
	height: 20%;
	width: 33%;
	bottom: 0%;
	position: absolute;
	right: 0.55%;
}

.bottom-right p{
	color: white;
	font-family: arial;
	font-size: 30px;
	position: absolute;
	top: 15%;
	left: 25%;
}